<div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item" ngFor="const topping of productCustomization.toppings">
              <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
              {{topping.title}}
            </li>
          </ul>
    </div>
  </div>
</div>