<div class="card h-100">
    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
    <img class="card-img-top" [src]="productCard.image" alt="..." />
    <div class="card-body p-4">
        <div class="text-center">
            <h5 class="fw-bolder">{{ productCard.title }}</h5>
            <!-- <span class="text-muted text-decoration-line-through"> {{ product.price }}</span> -->
            {{ productCard.price }}
        </div>
    </div>
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center"><a (click)="add(productCard)" class="btn btn-outline-dark mt-auto">Add</a></div>
    </div>
</div>